.footer {

    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border: 1px solid #888;

    padding: 20px;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    color: #000;
    background-color: #fff;

    padding-top: 24px;
    margin-top: 20px;

    font-size: 20px;
    width: 100%;
    margin-bottom: 0px;
    border-bottom: 0px;

}
